@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --color-lighter: #f0f9ff;
    --color-light: #e0f2fe;
    --color-middle: #7dd3fc;
    --color-dark: #0284c7;
    --color-darker: #075985;
}

body{
    background-color: var(--color-light);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
}

ul{
    margin: 0;
    pad: 0;
}

nav{
    padding: 1.25rem;
}

.sidebar{
    background-color: var(--color-darker);
    color: var(--color-light);
    min-width: 15em;
}

.sidebar nav a{
    text-decoration: none;
}

.sidebar-title{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.nav-top{
    margin-bottom: 5rem;
}

.nav-item{
    display: flex;
    gap: 0.1em;
    align-items: center;
}

.sidebar a:visited{
    text-decoration: none;
    color: var(--color-light);
}

.sidebar a:hover{
    text-decoration: none;
    color: var(--color-lighter);
    transform: scale(1.1);
}

svg{
    height: 1.5em;
    width: 1.5em;
}

aside svg {
    margin-right: 0.5rem;
    align-self: center;
}

aside svg path {
    fill: var(--color-light);
}



main{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-wrapper{
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}

.header-top,
.header-bottom{
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 5rem;
}

.search-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 18rem;
}

.search-bar{
    width: 100%;
    padding: 0.4rem;
    border-radius: 20px;
    border: 0;
    background-color: lightgray;
}

.profile-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.user-greeting{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.user-actions{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.content-section{
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.project-title,
.announcement-title,
.trending-title{
    font-size: 0.75rem;
}

.content-section > h2{
    font-size: 0.75rem;
}


.project-wrapper{
    display: flex;
    flex-direction: column;
}

.side-content-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.project-card-wrapper{
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 2rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: white;
    border-left: 10px solid blue;
    box-shadow: 1px 1px 5px black;
}

.project-card .card-title{
    margin-bottom: 0;
    margin-top: 25px;
}

.project-card .card-text{
    font-size: 0.8rem;
    margin-bottom: 25px;
}

.project-card .project-actions{
    align-self: flex-end;
    align-items: center;
    margin-top: auto;
    display: flex;
    margin-bottom: 20px;
    gap: 1.5rem;
}

.announcement-wrapper,
.trending-wrapper{
    padding: 1px;
    margin-left: 10px;
}

.announcement-section,
.trending-section{
    background-color: white;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-bottom: 1px solid gray;
}